@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body{
    font-family: 'Nova Square', cursive;
    };

:root{
    --col1:#C67F7F;
    --col2: #ececec;
    --col3: #8B0000;
}

.logo-custom{
    height: 150px;
    width: 200px;
    background-color: white;
}

.lorem{
    color:#8B0000;
    letter-spacing: 20px;
}

.bg-custom-mio
{
   background:url(./media/mountains2.png), linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 85%), url(./media/switzerland-862870_1920.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100vh;
    
}

.font-size-custom
{
 /* font-size: 20px; */
 opacity: 0.6;
};

