@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/git-commit.css');

body{
    font-family: 'Nova Square', cursive;
    };

:root{
    --col1:#C67F7F;
    --col2: #ececec;
    --col3: #8B0000;
}

.logo-custom{
    height: 150px;
    width: 200px;
    background-color: white;
}

.darkred{
    color:#8B0000;
    
}

.lorem{
    color:#8B0000;
    letter-spacing: 25px;
}
.bg-custom-mio
{
   background:url(./media/mountains2.png), linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 85%), url(./media/switzerland-862870_1920.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100vh;
    
}

.psize{
    font-size: 40px;
}

.circle{
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px #890403 solid;
    top: -25px;
}

.gg-git-commit {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 6px;
    height: 16px;
    border-radius: 3px;
    border-top: 80px solid;
    border-bottom: 80px solid;
    transform: rotate(90deg);
    border-color: #890403;

}
.gg-git-commit::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 0 2px;
    border-radius: 100%;
    left: 10;
    top: -8px
}
.bgdr{
    background-color: #890403;
}

.l_orem{
    margin-bottom: -50px;
}
